@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lekton:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Images/azul.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

h1 {
   font-size: 36px;
   text-align: center; 
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 20px 0;
}

.inputBox input, .inputBox textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;  
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px;
}

.inputBox textarea {
    height: 100px;
    resize: none;
}

.inputBox input::placeholder, .inputBox textarea::placeholder {
   color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 40px;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
}

.back-button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    line-height: 45px;
}

.back-button:hover {
    background-color: #0056b3;
    color: white;
}

.errorMessage {
    color: red;
    font-size: 16px;
    position: absolute;
    top: -20px; 
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.foot {
    font-size: 10px;
    margin-top: 10px;
}